.search-results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  max-width: 300px;
}

.image-card img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.image-info {
  text-align: center;
  margin-top: auto;
}

.load-more {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.load-more {
  display: block;
  justify-content: center;
}

.search-form {
  text-align: center;
  z-index: 9999;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-form input[type='text'] {
  width: 80%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.search-form button[type='submit'] {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  margin-left: 10px;
  cursor: pointer;
}

.search-form button[type='submit']:hover {
  background-color: #0056b3;
}
.container {
  overflow-x: hidden;
}
